$rundata.setLayoutEnabled(false)
<span class="mod-public-attr-name e-dialog" style="width:600px;font-size:12px">
	<header>
		<span class="title">修改小站</span>
        <span class="info"></span>
		<span title="关闭" class="dialog-close-btn">×</span>
    </header>
	<form id="J_UpdateSiteForm" action="/admin/siteList.htm" method="post">
	<input type="hidden" name="action" value="/SiteAction"/>
	<input type="hidden" name="event_submit_doUpdateSiteName" value="y"/>
    <input type="hidden" id="J_SiteId" name="siteId" value="$!siteId"/>
	
	<span id="content" >
		<table class="pub-attr-table" style="margin:0 auto">
    		<tr>
    			<td class="col1" style="width:200px"><span class="red">*</span>请输入小站中文名称(最多8个字符)</td>
    			<td>
    				<input type="text" id="siteName" class="e-input-box " name="siteName" value="$!site.name" />
				</td>
    		</tr>
		</table>
		<footer class="footer">
			<input type="button" id="J_BtnNameSave" class="e-btn e-btn-primary" value="确认">
			<input type="button" id="J_BtnNameCancle" value="取 消" class="e-btn e-btn-primary">
    	</footer>
	</span>
	</form>
</span>