/* Apply the element you want to drag/resize */
.drsElement {
 position: relative;
 border: 1px solid #333; 
    display: inline-block;
}

/*
 The main mouse handle that moves the whole element.
 You can apply to the same tag as drsElement if you want.
*/
.drsMoveHandle {
 height: 20px;
 background-color: #CCC;
 border-bottom: 1px solid #666;
 cursor: move;
}

/*
 The DragResize object name is automatically applied to all generated
 corner resize handles, as well as one of the inspanidual classes below.
*/
.dragresize {
 position: absolute;
 width: 5px;
 height: 5px;
 font-size: 1px;
 background: #EEE;
 border: 1px solid #333;
}

/*
 Inspanidual corner classes - required for resize support.
 These are based on the object name plus the handle ID.
*/
.dragresize-tl {
 top: -8px;
 left: -8px;
 cursor: nw-resize; 
 display: none;
}
.dragresize-tm {
 top: -3px;
 left: 50%;
 margin-left: -4px;
 cursor: n-resize;
}
.dragresize-tr {
 top: -8px;
 right: -8px;
 cursor: ne-resize;
 display: none;
}

.dragresize-ml {
 top: 50%;
 margin-top: -4px;
 left: -3px;
 cursor:ew-resize;
}
.dragresize-mr {
 top: 50%;
 margin-top: -4px;
 right: -3px;
 cursor: ew-resize;
}

.dragresize-bl {
 bottom: -8px;
 left: -8px;
 cursor: sw-resize;
    display: none;
}
.dragresize-bm {
 bottom: -3px;
 left: 50%;
 margin-left: -4px;
 cursor:ns-resize;
}
.dragresize-br {
 bottom: -8px;
 right: -8px;
 cursor: se-resize;
    display: none;
}

/***cell 的大小****/
span.cell_style{
    padding: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    min-height: 178px;
    min-width:298px;
/*    margin:5px;*/
    margin:1px;
    left:0;
}
span.main span.dawn_resize_contriner{
    margin:0 auto;
    position: relative;
    padding: 0;
    width:1180px;
    min-width: 1180px;
    min-height: 180px;
    max-width: 1180px;
}