<span class="container">
 <span class="row">
         <span class="col-md-12 col-lg-12 dawn_txt_padding">当前页面：》菜单1 》菜单2</span>
        <h1 class="col-md-12 col-lg-12 dawn_txt_padding">请选择页面类型:</h1>
        <span class="col-sm-4 col-md-4 col-lg-4 dawn_layout_choice" ng-click="specify('free')">
            <span class="style_title">自由组织数据</span>
            <span class="dawn_layout_style">
                <span class="dawn_shape_rect rect_spec rect_bg">
                    <span class="dawn_shape_rect">
                        <h5>区块1</h5>
                    </span>
                    <span class="dawn_shape_rect">
                        <h5>区块2</h5>
                    </span>
                    <span class="dawn_shape_rect">
                        <h5>区块3</h5>
                    </span>
                    <span class="dawn_shape_rect dawn_shape_row"><h5>区块4</h5></span>
                </span>
                <span class="dawn_cover">
                    <h2>点击立即构建页面</h2>
                </span>
            </span>
            <p>
                您可以自由地设计页面布局，快速的获取数据，灵活的组织展现样式。小站有丰富的数据可视化组件供您使用
            </p>
        </span>
        <span class="col-sm-4 col-md-4 col-lg-4 dawn_layout_choice" ng-click="specify('ext')">
             <span class="style_title">外部页面(URL嵌入)</span>
            <span class="dawn_layout_style">
                <span class="dawn_shape_rect rect_spec">
                    <h5>直接输入页面URL即可</h5>
                </span>
              <span class="dawn_cover">
                    <h2>点击立即构建页面</h2>
                </span>
            </span>
            <p>可提取页面的关键内容区域嵌入到小站</p>
        </span>
    </span>
</span>    