
<span class="dawn_resize_contriner" resize-cell>
    <span class="drsElement cell_style">
         <span class="drsMoveHandle">span 1</span>
    Content
    </span> 
</span>
<span class="dawn_resize_contriner" resize-cell>
    <span class="drsElement cell_style">
         <span class="drsMoveHandle">span 1</span>
    Content
    </span> 
    <span class="drsElement cell_style">
        <span class="drsMoveHandle">span 2</span>
     Content
    </span>
<!--
    <span class="drsElement cell_style">
        <span class="drsMoveHandle">span 3</span>
     Content
    </span>      
-->
</span>
<span class="dawn_resize_contriner" resize-cell>
    <span class="drsElement cell_style">
         <span class="drsMoveHandle">span 1</span>
    Content
    </span> 
    <span class="drsElement cell_style">
        <span class="drsMoveHandle">span 2</span>
     Content
    </span>

    <span class="drsElement cell_style">
        <span class="drsMoveHandle">span 3</span>
     Content
    </span>      

</span>
