@import url("base.css");
.m_site .header { background:#5ab4f4;}
.m_site .header .more>a:hover { background:#43a2e6;}
.m_site .header .menu li a:hover { background:#43a2e6;}
.m_site .header .menu li a:active { background:#3888cf;}
.m_site .header .menu .on a { background:#43a2e6;}
.m_site .header .menu .on a:active { background:#43a2e6;}

.m_site .side .content>ul>li ul li .text:hover { background:#f7f7f7;}
.m_site .side .content>ul>li ul li .text:active { background:#f2f2f2;}
.m_site .side .content>ul>li ul .on .text { color:#43a2e6; border-left-color:#43a2e6;}
.m_site .side .content>ul>li ul .on .text:hover,
.m_site .side .content>ul>li ul .on .text:active { background:none;}
.m_site .side .content>ul>.on>.text { color:#43a2e6;}
.m_site .side .content>ul>.on>.text:hover,
.m_site .side .content>ul>.on>.text:active { background:none;}