<!DOCTYPE html> 
<html> <!--<![endif]--> 
<head>
	<meta charset="utf-8"/> 
    <title>阿里数据平台-数据小站</title>
    <link id="css" href="../src/org/css/base.css" rel="stylesheet" />
	<link href="../src/org/css/global/scrollbar-mac.css" rel="stylesheet"/>
	<link href="../src/org/css/admin/dialog.css" rel="stylesheet" />
    <link type="text/css" href="../src/org/css/global/bootstrap.min.css" >
    <script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link type="text/css" href="../src/css/page/main.css">
</head>

<body style="background:#e8e8e8"><script type=text/javascript>var dmtrack_c='{-}'; var dmtrack_pageid='0ac145240a93815a1414379908';
(function(d){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://style.c.aliimg.com/sys/js/beacon/cn.js';d.getElementsByTagName('head')[0].appendChild(t);}(document));</script> 
<noscript><img src="http://dmtracking.1688.com/b.jpg?cD0yJnU9e2Rhd24uYWxpYmFiYS1pbmMuY29tL2FkbWluL3NpdGVDb25maWcuaHRtP3NpdGVJZD0xNzF9Jm09e0dFVH0mcz17MjAwfSZyPXtodHRwOi8vZGF3bi5hbGliYWJhLWluYy5jb20vYWRtaW4vc2l0ZUxpc3QuaHRtfSZhPXstfSZiPS0mYz17LX0K&ver=40&pageid=0ac145240a93815a1414379908&time=1414379908" width="1" height="1" style="display:none"></noscript> 
      <script type=text/javascript> var _SPM_a='{-}'; var _SPM_b='{-}';var _SPM_app_name='{-}';var _SPM_template_path='{-}';</script>

	<div id="J_Container">
		<!-- 编辑页面头（可视化建站页面头）即  xx欢迎来到淘数据  淘数据首页，开放平台首页，开放平台百科 -->
<!-- 功能菜单区 开始 -->
<div class="m_menu">
	<div class="main">
		<div class="logo"></div>
		<div class="list">
			<ul>
				<li><a href="javascript:void(0)" id="setStyle">小站皮肤</a></li>
				<li>
					<a href="javascript:void(0)">设置</a>
					<div class="c_subnav">
						<ul>
															<li><a href="javascript:void(0)" data-id="171" id="J_mng_admin" >小站管理员</a></li>
								<li><a href="javascript:void(0)" data-id="171" id="J_deliver_sa">转交</a></li>
								<li><a href="javascript:void(0)" data-id="171" id="J_update_name">更改小站名称</a></li>
													</ul>
					</div>
				</li>
								<li>
					<a href="javascript:void(0)">帮助中心</a>
					<div class="c_subnav">
						<ul>
																					<li><a href="http://designboard.alibaba-inc.com/detail/40312" target="_blank">建站帮助</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="fn">
			<a  class="e_button" href="/portal/site.htm?siteId=171" target="_blank">预览</a>
		</div>
	</div>
	<div class="sub">
		<div class="style">
			<ul id="styles">
				<li  class="on"  style="background: url(../images/orange.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "base" data-id="171"><span>甜橙系</span></a>
					<div class="border"></div>
				</li>
				<li  style="background: url(../images/red.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "red" data-id="171"><span>番茄红</span></a>
					<div class="border"></div>
				</li>
				<li  style="background: url(../images/blue.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "blue" data-id="171"><span>天空蓝</span></a>
					<div class="border"></div>
				</li>
				<li  style="background: url(../images/green.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "green" data-id="171"><span>青苹果</span></a>
					<div class="border"></div>
				</li>
				<li  style="background: url(../images/purple.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "purple" data-id="171"><span>梦幻紫</span></a>
					<div class="border"></div>
				</li>
				<li  style="background: url(../images/obred.png) no-repeat;">
					<a href="javascript:void(0)" style-code = "obred" data-id="171"><span>白底红字</span></a>
					<div class="border"></div>
				</li>
			</ul>
			<!-- 页面调试用JS，点击各个颜色切换按钮进行测试
			请 JS 开发人员参考并重写 -->
		</div>
		<a href="javascript:void(0)" class="e_close" id="cancleSetStyle"></a>
		<!-- 调试用JS，站点风格的选项显示后，点击右上角“×”测试，请 JS 开发人员参考并重写 -->
	</div>
</div>
<!-- 功能菜单区 结束 -->
<!-- 站点预览区 开始 -->
<input type="hidden" id="siteId" name="siteId" value="171"/>
<input type="hidden" id="style" name="style" value="base"/>
<input type="hidden" id="sourceUrl" name="sourceUrl" value=""/>
<input type="hidden" id="displayNum" name="displayNum" value=""/>
<div class="m_site" id="J_SiteConfig">
	<!-- 头部 开始 -->
	<div class="header">
		<div class="logo" >
					<span >中华人民</span>
					<a href="javascript:void(0)" class="edit" id="J_updateLogo" >点击设置LOGO</a>
        </div>
				<!-- 页面调试用JS，点击添加LOGO进行测试
				请 JS 开发人员参考并重写 -->
				
	
		<div class="menu">
			<ul class="menuNavigation" >
													<li  class="menu on" ><a href="javascript:void(0)" data-id="2078" page-id="" class="e-loadChildMenu" page-url="" path-name="主菜单1" open-type="1">主菜单1</a></li>
																	<li  class="menu" ><a href="javascript:void(0)" data-id="2079" page-id="" class="e-loadChildMenu" page-url="" path-name="主菜单2" open-type="1">主菜单2</a></li>
																	<li  class="menu" ><a href="javascript:void(0)" data-id="2080" page-id="" class="e-loadChildMenu" page-url="" path-name="主菜单3" open-type="1">主菜单3</a></li>
												
			</ul>
		</div>
				<div class="info">
			<span class="hi">你好，以荣！</span>
			<a href="https://login-test.alibaba-inc.com/ssoLogin.htm?APP_NAME=dtdawn&BACK_URL=http://dawn.alibaba-inc.com/index.htm&CANCEL_CERT=true" class="exit">[退出]</a>
		</div>
		<div class="edit_menu">
			<a href="javascript:void(0)" class="e_button edit updateMenu" data-id="171" id="J_updateMenu">编辑菜单</a>
		</div>
		<!-- 页面调试用JS，点击编辑菜单进行测试
		请 JS 开发人员参考并重写 -->
	</div>
	<!-- 头部 结束 -->
	<div class='container-wrapper'>
	<!-- 侧栏菜单 开始 -->
	<div class="menu-list">
	<!--默认展示第一个-->
								</div>
	<!--第一次默认为第一个叶子节点信息-->
	<div id="main" class="main"  style="left:0px">
<span class="container">
 <span class="row">
         <span class="col-md-12 col-lg-12 dawn_txt_padding">当前页面：》菜单1 》菜单2</span>
        <h1 class="col-md-12 col-lg-12 dawn_txt_padding">请选择页面类型:</h1>
        <span class="col-sm-4 col-md-4 col-lg-4 dawn_layout_choice" ng-click="specify('free')">
            <span class="style_title">自由组织数据</span>
            <span class="dawn_layout_style">
                <span class="dawn_shape_rect rect_spec rect_bg">
                    <span class="dawn_shape_rect">
                        <h5>区块1</h5>
                    </span>
                    <span class="dawn_shape_rect">
                        <h5>区块2</h5>
                    </span>
                    <span class="dawn_shape_rect">
                        <h5>区块3</h5>
                    </span>
                    <span class="dawn_shape_rect dawn_shape_row"><h5>区块4</h5></span>
                </span>
                <span class="dawn_cover">
                    <h2>点击立即构建页面</h2>
                </span>
            </span>
            <p>
                您可以自由地设计页面布局，快速的获取数据，灵活的组织展现样式。小站有丰富的数据可视化组件供您使用
            </p>
        </span>
        <span class="col-sm-4 col-md-4 col-lg-4 dawn_layout_choice" ng-click="specify('ext')">
             <span class="style_title">外部页面(URL嵌入)</span>
            <span class="dawn_layout_style">
                <span class="dawn_shape_rect rect_spec">
                    <h5>直接输入页面URL即可</h5>
                </span>
              <span class="dawn_cover">
                    <h2>点击立即构建页面</h2>
                </span>
            </span>
            <p>可提取页面的关键内容区域嵌入到小站</p>
        </span>
    </span>
</span>            
	</div>
	
	</div>
	<!-- 主栏 结束 -->
<!-- 站点预览区 结束 -->
</div>
<script src="js/home/admin/public.js"></script>
<link href="../src/org/css/iconfonts/admin/iconfont.css" rel="stylesheet"/>
<link href="../src/org/css/admin/siteConfig.css" rel="stylesheet"/>
<link href="../src/org/css/admin/mask.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../src/org/js/jqueryui/autocomplete/css/base/jquery-ui.min.css"/>
<script type="text/javascript" src="../src/org/js/jqueryui/autocomplete/jquery-ui.custom.js"></script>
<script type="text/javascript" src="../src/org/js/home/site-admin-mng.js"></script>
<script type="text/javascript" src="../src/org/js/home/site-deliver.js"></script>
<div class="version-overRefer"><div id="J_VersionReferFlag" class="version-overRefer-flag"></div></div>
<div id="J_VersionOverlayer" class="version-overlayer" style="height: 100%; width: 100%;display:none;">
	<div class="over-bg"></div>
	<div class="over-fg" id="oneMask" >
		<img src="../src/org/images/mask/addLogo.png" class="guideHork-0" width="248.66px" height="185.33px" style="left: 80px; top: 80px;">
		<img src="../src/org/images/mask/twoNavigation.png" class="guideHork-1" width="249.33px" height="163.33px" style="left: 125px; top: 400px;">
		<img src="../src/org/images/mask/threeMenu.png" class="guideHork-2" width="252.66px" height="122px" style="right: 150px; top: 80px;">
		<img src="../src/org/images/mask/page.png" class="guideHork-3" width="280px" height="170.66px" style="left: 400px; top: 180px;">
		<img src="../src/org/images/mask/next.png" class="guideHork-4" width="131.33px" height="44.66px" style="left: 850px; top: 450px;" id="maskNext" >
	</div>
	<div class="over-fg" id="twoMask" style="display:none">
		<img src="../src/org/images/mask/style.png" class="guideHork-5" width="195.33px" height="152.66px" style="left: 80px; top: 30px;">
		<img src="../src/org/images/mask/manger.png" class="guideHork-6" width="250.66px" height="158.66px" style="left: 280px; top: 30px;">
		<img src="../src/org/images/mask/preview.png" class="guideHork-7" width="302.66px" height="171.33px" style="right: 50px; top: 30px;" id="closeMask">
	</div>
</div>

	</div>
    <script type="text/javascript" src="../lib/requirejs/require.js" data-main="../src/js/startup"></script>
</body>

</html>
<!-- 侧栏菜单 结束 -->